<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaoyuantong" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xyt.client.ui.MainActivity"
            android:label="@string/app_name" >
          
        </activity>
        <activity
            android:name="com.xyt.client.ui.LoginActivity"
            android:label="@string/title_activity_login" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xyt.client.ui.PersonalInfoActivity"
            android:label="@string/title_activity_personal_info" >
             
        </activity>
        <activity
            android:name="com.xyt.client.ui.MainTabActivity"
            android:label="@string/title_activity_main_tab" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.NewsActivity"
            android:label="@string/title_activity_news" >
          
        </activity>
        <activity
            android:name="com.xyt.client.ui.TopicActivity"
            android:label="@string/title_activity_topic" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
      
        <activity
            android:name="com.xyt.client.ui.UploadActivity"
            android:label="@string/title_activity_upload" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.DownLoadActivity"
            android:label="@string/title_activity_down_load" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.UpDownTabActivity"
            android:label="@string/title_activity_up_down_tab" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.LostAndFoundTabActivity"
            android:label="@string/title_activity_lost_and_found_tab" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.MyLAndFActivity"
            android:label="@string/title_activity_my_land_f" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.AllLandFActivity"
            android:label="@string/title_activity_all_land_f" >
        </activity>
        <activity
            android:name="com.xyt.client.ui.WriteLAndFActivity"
            android:label="@string/title_activity_write_land_f" >
        </activity>
         <activity
            android:name="com.xyt.client.ui.WriteNewsActivity"
            android:label="@string/title_activity_write_news" >
        </activity>
    </application>

</manifest>
